body {
    font-family: 'BPG Glaho Bold', sans-serif;
}

header {
    width: 1440px;
    background-color: #2A9D8F;
    margin: auto;
    padding: 34px 126px;
}

.logo-link {
    display: inline-block;
    width: 46px;
    height: 46px;
    margin-right: 680px;
}

.logo-img {
    width: 100%;
    height: 100%;
}

.header-nav {
    display: inline-block;
    vertical-align: middle;
}

.header-li {
    display: inline-block;
    font-weight: 700;
    font-style: Bold;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: 0.5%;
    text-align: center;
    color: #FFFFFF;
}

.m-right {
    margin: 64px;
}
.m-riht-shadow {
    text-shadow: 4px 4px 4px #000000CC;

}